html,
body,
.stage1 {
  height:100% ;
}
.stage1 {
 background: url('img/foto1.png') no-repeat center center fixed;
 background-size: cover;
}

.logo1 {
  width: 165px;
}

.stage1 .nav-link {
  color: white;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  transition:  0.3s;
}

.stage1 .nav-link:hover {
  color: blue;
}

.image {
 text-align: center;
}

.stage1 .button {
  text-align: right;
  border-radius: 0;
  position: relative;
  left: 380px;
}

.stage1-plan1 {
  margin-top: 70px;
}

.stage1-plan1 h1 {
  color: white;
  width: 450px;
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 45px;
}

.stage1-plan1 p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #CDCDCD;
  width: 351px;
}
.stage1-plan1 .explore {
  background: #102330;
  border-radius: 40.7647px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12.3529px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 13px 25px;
}



.stage1-plan1 .scroll {
 font-family: 'Helvetica';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 text-transform: uppercase;
 background: none;
 color: #FFFFFF;
 border: 0;
 position: relative;
 top: 70px;
 right: 55px;
 transform: rotate(90deg);

}

.buttons button {
  border-radius: 30px;
  font-size: 12px;
  width: 33px;
  padding: 2px;
}

.buttons {
  display: grid;
}

.scroll1 {
 font-family: 'Helvetica';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 text-transform: uppercase;
 background: none;
 color: #FFFFFF;
 border: 0;
 position: relative;
 top: 40px;
 right: 33px;
 transform: rotate(270deg);
 width: 100px!important;

}
@media (min-width:575px) {
  .mobile-menu {
    visibility: hidden;
    position: absolute;
  }  
}


@media (max-width:575px) {
  .menu-logo {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .logo1 {
    margin-left: 35px;
    width:200px ;
  }

  .button {
    visibility: hidden;
  }

  .web-menu {
    visibility: hidden;
    position: absolute;
  }


  .navbar-collapse  {
    background-color: black;

  }

  .stage1-plan1 {
    margin-left: 40px;
  }

  .explore {
    margin: auto;
    position: relative;
    left: -30px;
    background: #fff;
    color: blue;

  }

  .stage1-plan1 h1{
    margin-top: 130px;
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 259px;
    display: inline-block;
  }
  .stage1-plan1 p {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 18px;
   text-align: center;
   width: 250px;
   color: #CDCDCD;

 }

 .buttons {
  position: absolute;
  top: -430px;
  right: 0px;
}

.buttons button {
  width: 20px;
  cursor: pointer;
}

.scroll1 {
  right: 40px;
  font-size: 9px!important;
  top:25px ;
}

.stage1-plan1 {
  margin-bottom: 20px;
}

.stage1-plan1 .scroll {
  font-size: 9px;
}






}