.container-fluid1 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}



.guard {
  position: absolute;
  top: 253px;
  left: 30px;
  height: 200px;
}


.scroll1 {
  right: 38px;
  top: 90px;
  position: relative;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: rotate(90deg);
}

.scroll2 {
  font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-transform: uppercase;
color: #FFFFFF;
transform: rotate(-90deg);
display: inline-block;
}



.logo {
  position: relative;
  width: 100px;
}



.guard1 {
  position: absolute;
  top: 76px;
  left: 270px;

}
.nav-link {
  color: white;
}


.button {
  position: absolute;
  right: 30px;
  top: 18px;
  border-radius: 0;
}

.buttons {
  top: 180px;
  position: absolute;
  display: grid;
  right: 30px;
}

.buttons button {
  border-radius: 30px;
  font-size: 12px;
  width: 33px;
}

.buttons {
  display: grid;
}






.logo1 {
  position: absolute;
  width: 200px;
  left: 46%;
  top: 10px;
}




.guard h1{
  color: white;
  width: 59%;
  
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
}
.guard p {
  color: white;
  width: 49%;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: 400;
}

.stage2 {
  padding: 0;
}

.stage2-card {
  border: 0;
}

.stage2-cardbody {
  position: absolute;
  top: 25px;
  left: 20px;
}

.stage2-title1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 26.6667px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #fff;
}
.stage2-title2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
  position: absolute;
  top: 30px;
  right: 30px;
}
.stage2-cardtext {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #B3B3B3;
}

.stage2-button {
 width: 33px;
 position: relative;
 left: 115px;
 border-radius: 30px;
 font-size: 12px;
 top: 40px;
 padding: 6px;
}

.what {
  text-align: center;
}

.what1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color:#102330 ;
}

.what2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #585858;
}
.what3 {
  background-color: #102330;
  width: 53px;
  height: 0px;
  border: 2px solid #102330;
  border-radius: 30px;
  position: relative;
  left: 47%;
}

.stage3 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.stage3-logo1 {
  position: absolute;
  top: 40px;
  left: 30px;
}
.stage3-logo2 {
  position: absolute;
  right: 0;
}
.stage3-title1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16.8162px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #fff;
  position: absolute;
  top: 130px;
  left: 25px;
}

.stage3-text1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #909090;
  position: absolute;
  top: 168px;
  left: 25px;
  width: 215px;
}
.stage3-title2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #003B55;
} 

.what-2 {
  width: 500px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #585858;
  display: inline-block;
}


.stage4 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0;
}

.stage4-foto {
  width: 50%;
  height: 300px;
}

.stage4-title1 {
  position: absolute;
  right: 102px;
  top: 67px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 17.5057px;
  line-height: 20px;
  color: #102330;
}
.stage4-title2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 15.1159px;
  line-height: 17px;
  color: #68bde3;
  position: absolute;
  top: 104px;
  right: 92px;
}

.stage4-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 17.2754px;
  line-height: 20px;
  color: #9E9E9E;
  position: absolute;
  top: 147px;
  right: 55px;
  width: 190px;

}

.stage4-buttons{
  position: absolute;
  right: 110px;
  bottom: 42px;
}

.stage4-buttons button {
  padding: 8px;
  border-radius: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
}


.stage4-title-2 {
  right: 53px;
}




.stage5 {
  background-color: #102330;
}

.stage5-title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.stage5-title1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 315px;
}

.stage-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13.3333px;
  line-height: 15px;
  text-align: justify;
  color: #BCBCBC;
  width: 315px;
}

.stage5-card1-title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #102330;
}

.stage5-card1-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #919191;
}

.stage5-card {
  border-radius: 0;
}

.stage5-col {
  padding: 0;
}

.stage5-foto3 {
  height: 143.57px;
}


.stage5-text {
  top: 60px;
  left: 70px;
  position: absolute;
}

.stage5-button {
  right: 0;
  top: 165px;
  position: absolute;
  border-radius: 30px;
}

.customers {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14.5418px;
  line-height: 17px;
  color: #585858;
}

.media {
  display: flex;
  justify-content: center;
  position: relative;
  left: 30px;
}
.media2 {
  position: relative;
  right: 22px;
}
.media3 {
  position: relative;
  right: 45px;
}

.media4 {
  position: relative;
  right: 68px;
}

.media5 {
  position: relative;
  right: 92px;
}

.stage6-class1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 104.69%;
  color: #fff;
  background-color: #102330;
  display: inline-block;
  padding: 18px;
  border-radius: 10px 0px 0px 10px;
}

.stage6-class2 {
  border-radius: 0px 10px 10px 0px;
  width: calc(100% - 165px);
  position: relative;
  right: 3px;
}
.stage6-class3 {
  background-color: #F1F1F1;
  color: #303640;
}



.footer {
  background-color: #102330;
  height:1000px ;

}

.footer-news1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.footer-news2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer-input {
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  width: 390px;
  position: relative;
  left: 22px;
}

.footer-container {
  text-align: center;
  position: relative;
  top: 60px;
}

.footer-button {
  top: -2px;
  background: none;
  border: 0;
  position: relative;
  right: 29px;
}

::placeholder {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 11.867px;
  line-height: 14px;
  opacity: 0.3;
  color: #000000;
}

.stage7-title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.stage7-line1 {
  top: 95px;
  border: 1px solid #909090;
  transform: rotate(90deg);
  position: relative;
  right: 89px;
  width: 180px;
}

.alt {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #919191;
}

.stage7-line2 {
  width: 110px;
  top: 65px;
  position: relative;
  width: 110px;
  right: 50px;
}

.information {
  text-align: center;
}

.footer-button1 {
  padding: 3px 9px 3px 9px;
  background: #909090;
  font-size: 10px;
  border-radius: 30px;
}

.footer-icon-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #6C6C6C;
}

.footer-icon-text1 {
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;


  color: #FFFFFF;

}

.footer-son {
  text-align: center;
}

.finish1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #6C6C6C;
}


html,
body,
.stage1 {
  height:100% ;
}
.stage1 {
 background: url('img/foto1.png') no-repeat center center fixed;
 background-size: cover;
}
