html,
body,
.stage1 {
	height:100% ;
}



.stage1 {
	background: url('img/background3.jpg') no-repeat center center fixed;
	background-size: cover;
}

.fixed-top {
	max-width: 1140px;
	margin: 20px auto;
	transition: 0.2s all linear;
}
.logo {
	width: 70px;
}

.nav-link {
	color: white!important;
	font-family: Montserrat Regular;
	font-weight: 700;
	margin-right: 10px;
	font-size: 14px;
	transition: color 0.5s ease;
}
.nav-link:hover {
	color:#007bff!important;
}

.stage1-h1 {
	margin-top: 16%;
	color: white;
	font-size: 40px;
	font-weight: 400;
	font-family: DroidSerif Italic;
}

@media (max-width:576px) {
	.stage1-h1 {
		margin-top: 45%;
		font-size: 30px;
	}
	.stage1-h2 {
		font-size: 40px;
	}


}
.stage1-h2 {
	color: white;
	font-weight: 700;
	font-size: 50px;
	font-family: Montserrat ;
}

.stage1-button {
	border-radius: 20px;
	font-family: Montserrat Bold;
	font-size: 17px;
	font-weight: 700;
	padding: 20px 40px;
	transition: 0.5s ease;
}

.stage1-button:hover {
	background-color:#fff ;
	color:#007bff ;

} 


.stage2 {
	padding: 100px 0;
}


.stage2-plan1 h3 {
	font-family: Montserrat ;
	font-size: 40px;
	font-weight: 800;

}


.stage2-plan1 p {
	font-family: DroidSerif ;
	color:#777 ;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 70px;
}

.icon {
	border: 1px solid #007bff;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	border-radius: 150px;
	margin-bottom: 15px;
}


.stage2-plan2 i {
	line-height: 85px;
}


.stage2-plan2 h4 {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 900;
	color: #222;
}

.stage2-plan2 p {
	font-family: RobotoSlab Regular;
	color: #777;
	font-size: 16px;
}



.stage3 {
	background-color: #f7f7f7 ;
	padding: 90px 0;
}
.stage3-plan1 {
	margin-bottom: 70px;
}

.stage3-plan1 h3 {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 800;
}

.stage3-plan1 p {
	font-family: DroidSerif;
	color: #777;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 70px;
}


.stage3-plan2-row {
	padding: 20px 0;
}

.stage3-plan2 .card-body {
	text-align: center;
}

.stage3-plan2 .card-title {
	font-size: 25px;
}


.stage4-logo1 {
	width: 230px;
	height: 180px;
	border-radius: 1000px;
}



.stage4 {
	padding: 90px 0;

}

.stage4-plan1 h3 {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 800;
}

.stage4-plan1 p {
	font-family: DroidSerif;
	color: #777;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 70px;
}

.stage4-plan2 .row {
	margin-bottom: 50px;
}

.stage4-plan2 h4 {
	font-family: Monserrat;
	font-size: 19px;
	font-weight: 900;
}

.stage4-plan2 p {
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 500;
	color: #777;
}

.stage4-plan2 {
	position: relative;
}



.stage4-about {
	position: relative;

}

.stage4-about::before {
	position: absolute;
	top: 0;
	bottom: 0;
	content: "";
	width: 176px;
	height: 176px;
	background-color: #fed136;
	border-radius: 170px;
	border: 7px solid #f1f1f1;
	left: 50%;
	margin-left:-80.5px ;
}

.stage4-about .about-text {
	position: relative;
	text-align: center;
	color: white;
	z-index: 1;
	padding-top: 50px;
	padding-left: 15px;
	font-family:Montserrat ;
	font-family: 17px;
	font-weight: 700;
}

.stage5 {
	background-color: #f9f9f9;
	padding-top: 100px;
	padding-bottom:70px ;
}

.stage5-plan1 h3 {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 800;
}

.stage5-plan1 p {
	font-family: DroidSerif;
	color: #777;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 70px;
}

.stage5-logo {
	width: 220px;
	height: 220px;
	background-color: black;
	border-radius: 220px;
	margin: 0 auto;
	border: 6px solid #fff;
	margin-bottom: 20px;

}



.stage5-plan2 h4 {

	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
}

.stage5-plan2 h5 {

	font-family: RobotoSlab;
	font-size: 16px;
	font-weight: 700;
	color: #777;
}

.stage5-icons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.stage5-icon {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}


.stage5-icon .fa-brands {
	border: 2px solid #000;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	line-height: 26px;
}


.stage5-plan2 p {
	margin: 50px auto;
	font-family: RobotoSlab Regular;
	font-size: 16px;
	color: #777;
}

.stage6 {
	padding: 60px 0;
}

.stage6-envato {
	position: relative;
	top: 17px;
}

.stage7 {
	padding-bottom: 100px;
	background: url(img/stage7-background.jpg) no-repeat center center fixed;
	background-size: cover;
	padding:120px 0 ;
}

.stage7-plan1  h3 {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 800;
	color: white;
}

.stage7-plan1  p {
	font-family: DroidSerif;
	color: #777;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 70px;
}

.stage7-form-element {
	width: 90%;
	height: 50px;
	margin-bottom: 25px;
	border-style: none;
	border-radius: 5px;
	padding-left: 20px;
	margin-left: 5px;
}

.stage7-form-textarea {
	width: 90%;
	height: 203px;
	border-style: none;
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 15px;
	margin-left: 5px;
}

.stage7-form-element {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 800;
}


.footer {
	padding: 15px 0;
}

.footer p {
	font-family: Monserrat Regular;
	font-weight: 400;
	color: #555555;
	line-height: 40px;
}

.footer-social-icons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-social-icon {
	display: inline;
	padding-left: 9px;
	padding-right: 9px;
	color: #fff;
}

.footer-social-icon .fa-brands {
	width: 40px;
	height: 40px;
	background: #000;
	border-radius: 40px;
	line-height: 40px;
}

.fixed-top.change-fix-top {
	margin-top: 0;
	background: #000;
	max-width: 2000px;
}

@media (max-width:991px) {
	.footer-social-icon .fa-brands {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		line-height: 30px;
	}


	.footer-social-icon {
		padding-left: 5px;
		padding-right: 5px;
		color: #fff;
	}

	.footer p {
		font-family: Monserrat Regular;
		font-weight: 400;
		color: #555555;
		line-height: 30px;
		font-size: 14px;
	}


	.stage3-plan2 .card-title {
		font-size: 20px;
	}

	.stage5-plan2 h4 {
		font-size: 19px;
	}

	.stage6 .col-sm-3 img {
		width: 160px;
	}

	.stage1-h1 {
		margin-top: 22%;
	}

	.stage4-plan2 h4,p {
		text-align: center!important;
	}

	.stage4-logo1 {
		margin: 0!important;
		margin-bottom: 20px!important;
	}

	.stage4-about {
		margin-left: -20px!important;
	}

	



}



@media (max-width:767px) {

	.navbar-collapse {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.navbar-dark .navbar-toggler {
		border: 1px solid #fff;
	}

	.stage1-h2 {
		font-size: 40px;
	}

	.stage1-h1 {
		margin-top: 35%;
		font-size: 30px;
	}

	.stage1-button {
		font-size: 12px;
	}

	.stage2-plan2 h4 {
		font-size: 15px;
	}

	.stage2-plan2 p {
		font-size: 13px;
	}

	.stage4-logo1 {
		width: 180px;
		height: 140px;
		border-radius: 1000px;
		margin-top: 50%;

	}

	.stage4-plan2 h4 {
		font-size: 13px;
	}

	.stage4-plan2 p {
		font-size: 14px;
	}

	.stage5-logo {
		width: 170px;
		height: 170px;
	}

	.stage5-plan2 h4 {
		font-size: 14px!important;
	}

	.stage5-plan2 h5 {
		font-size: 13px!important;
	}

	.stage5-plan2 p {
		font-size: 13px;
	}

	.stage6-envato {
		top: 5px;
	}

	.stage6 .col-sm-3 img {
		width: 120px;
	}

	.stage3-plan2 .card-title {
		font-size: 15px;
	}

	.stage3-plan2 .card-text {
		font-size: 13px;
	}

	.stage4-about {
		margin-left: 25px;
	}

	.footer-social-icon .fa-brands {
		width: 24px;
		height: 24px;
		border-radius: 25px;
		line-height: 24px;
	}

	.footer p {
		font-size: 12px;
	}

}

@media (max-width:575px) {


	.stage2-plan2 .col-sm-4 {
		margin-bottom: 25px;

	}

	.stage3-plan2 .card-title {
		font-size: 25px;
	}

	.stage3-plan2 .card-text {
		font-size: 15px;
	}

	.footer-social-icon .fa-brands {
		width: 24px;
		height: 24px;
		border-radius: 25px;
		line-height: 24px;
		margin-left: 15px;
	}

	.footer p {
		font-size: 12px;
	}


	.stage6 .col-sm-3 img {
		width: 150px;
		margin-bottom: 25px;
	}
	.stage7-form-element {
		margin-left: 25px;
	}

	.stage5-plan2 .col-sm-4 {
		margin-bottom: 20px;
	}

	.stage5-plan1 h3 {
		font-size: 28px;
	}

	.stage3-plan1 h3 {
		font-size: 28px;
	}

	.stage3-plan1 p  {
		font-size: 13px;
	}

	





}

